/* Code to add custom fonts from the web */
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

#logo {
  display: inline;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 5px;
  margin: 15px;
}

#project-repo {
  color: black;
  text-decoration: none;
  display: flex;
}

i {
  justify-content: space-evenly;
  margin-top: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.content {
  flex-direction: column;
}

#contentHead {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.calculator {
      padding: 10px;
      border-radius: 1em;
      height: 380px;
      width: 400px;
      margin: auto;
      background-color: #191b28;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

.calculators {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

button {
  border: none;
  color: white;
  background-color: #036dbe;
  font-weight: bold;
  font-size: 1.25rem;
  width: 50%;
  padding: 10px;
  margin: 11px;
  border-radius: 55px;
}

.display-box {
      font-family: 'Orbitron', sans-serif;
      background-color: #dcdbe1;
      border: solid black 0.5px;
      color: black;
      border-radius: 5px;
      width: 100%;
      height: 65%;
  }

  #btn {
        background-color: #fb0066;
    }

    input[type=button] {
          font-family: 'Orbitron', sans-serif;
          background-color: #64278f;
          color: white;
          border: solid black 0.5px;
          width: 100%;
          border-radius: 5px;
          height: 70%;
          outline: none;
      }
      
      input:active[type=button] {
          background: #e5e5e5;
          -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
          -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
      }
      
